html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}


.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.animation {
  -webkit-animation-name: myRotation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: myRotation;
  animation-duration: 1s;
}

/* Standard syntax */
@keyframes myRotation {
  from {transform: rotateY(0); background: #02b3e4;}
  to {transform: rotateY(360deg); background: red;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myRotation {
  from {transform: rotateY(0); background: #02b3e4;}
  to {transform: rotateY(360deg); background: red;}
}


.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
  margin-top: 16px;
}


.score-panel p {
  display: inline-block !important;
  padding-left: 10%;
}


/*
 * Styles for the Modal Popup
 */

#myModal {
  display: none;
}

.modal-content {
  position: absolute;
  background: linear-gradient(160deg, green 0%, white 100%);
  font-family: 'Coda', cursive;
  text-align: center;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 60%;
  max-width: 550px;
  height: auto;
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px 20px 20px;
  border-radius: 15px;
  border: solid 10px white;
  -webkit-animation-name: myWin; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: myWin;
  animation-duration: 1s;
}

.checkbox {
  padding-top: 5px;
  height: 4em;
}

.modal-content h1 {
  font-weight: bold;
}

.win-button {
  font-family: 'Coda', cursive;
  font-size: 1.5em;
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  background: #81D8D0;
  cursor: pointer;
}

.win-button:hover {
  background: #66CDAA;
}

/* Standard syntax */
@keyframes myWin {
  from {transform: scaleX(0);}
  to {transform: scaleY(1);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myWin {
  from {transform: scaleX(0);}
  to {transform: scaleY(1);}
}
